*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
nav{
    width: 100%;
    height:65px ;
    display: flex;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;


    }
.left{
    display: flex;
   width: 50%;
  margin: 10px;
padding-left:50px;
   gap:60px;
   justify-content:left;
   align-items: start;
 }
  .phone{
      color: white;
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 2px;
  }
.envelop{
   color: white;
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top: 5px;
}
.le{
text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex; 
   font-size:small;
}
.center{
    display: flex;
       width: 50%;
  gap: 3px;
    margin: 5px;
    padding-bottom: 5px;
    position: absolute;
    left: 450px;
    top: 30px;
     }
.cen{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
     justify-content:left;
     align-items:end;
      font-size:small;
}
.bi-globe{
  color: white;
  display: flex;
  justify-content:left;
  align-items: center;
}
/* end nav -------------- */

/* start header------------ */
.links{
    width:100%;
    height: 100px;
       display: flex;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;


     }
     .logo{
   text-decoration: none;
   width: auto;
   height: auto;
   margin-left: 20px;
     }

.form{
width: 45%;
  height: 40px;
  display: flex;
  justify-content:center;
  align-items: center;
 }
.input{
    display: flex;
   width: 100%;
   height: 40px;  
    justify-content:start;
   align-items: center;
    border: 1px solid grey ;  
     border-top-left-radius: 5px; /* Rounds all corners with a 5px radius */
     border-bottom-left-radius:5px; /* Rounds all corners with a 5px radius */ ;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
  }
.button{
    display: flex;
    width:40px;
    height: 40px;
    padding: 10px;
       border: 1px,solid , rgb(108, 107, 107);
    background-color: rgb(131, 130, 130);
  border-top-right-radius: 5px; /* Rounds all corners with a 5px radius */
  border-bottom-right-radius: 5px; /* Rounds all corners with a 5px radius */

}

.login{
    width: 15%;
    height: 50px;
   display: flex; 
   text-decoration: none;   
  }
.bi-heart{
     text-decoration: none;
     color: black;
}
.bi-bag{
     text-decoration: none;
     color: black;
}

.log:hover{
    width: 100%;
    height: 40px;
    background-color: rgb(198, 76, 96);
    transition: 0.5s;
    color: white;
    border: none;
}
.log{
  display: flex;
 justify-content: center;
 align-items: center;
  width: 100%;
  height: 40px;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 10px ;
  margin: 7px;
  font-size:medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   border-radius:5px ;/* Rounds all corners with a 5px radius */
   }
/* end header------------ */

/* start categories----------- */

.section{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background-color:black;
    padding: 20px;
    position: fixed;
    top: 165px;
    left: 0;
    right: 0;
    z-index: 1000;

}
.div{
  display: flex;

}
.a{
  text-decoration: none;
 display: flex;

 
}
.buttons{
   width: 100%;
   height:50px;
  border: none;
 display: flex;
 color: white;
 font-family:Arial, Helvetica, sans-serif;
 font-size:small;
align-items: center;
background-color: black;

}
.buttons:hover{
  width:100%;
  height:50px;
text-decoration: underline;
color: rgb(179, 56, 105);
}
#categories{
  background-color: rgb(189, 33, 88);
  width:100%;
  height:60px;
  border: none;
 text-decoration: none;
 display: flex;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
 font-size:small;
align-items: center;
justify-content: center;
}
/* end categories --------------- */

/* start delivery -------------- */
.Delivery{
   width: 100%;
  height: 55px;
  display: flex;
  justify-content:center;
  align-items: center;
background-color: rgb(253, 242, 246);
    position: fixed;
    top: 225px;
    left: 0;
    right: 0;
    z-index: 1000;

}
.deliver{
  color: rgb(189, 0, 72);
  display: flex;
  font-family:  Georgia, Times, 'Times New Roman', serif;
   justify-content:center;
  align-items: center;
font-size:small;
margin: 3px;
font-weight: bold;

}
.p{
  display: flex;
padding: 10px;
margin:3px;
  font-family: Georgia, Times, 'Times New Roman', serif;

font-size: small;
}
.change{
  background-color: white;
  border: 2px,solid,black;
  color: black;
   width: 90px;
  height: 30px;
  border-radius: 7px;
  text-align: center;
  font-size:large ;
  font-family:monospace;
}
.change:hover{
width:90px;
    height: 30px;
    background-color: rgb(198, 76, 96);
    transition: 0.5s;
    color: white;
    border: none;
}
/* end delivery------------------ */
.shop-category {
  display: flex;
  width: 100%;
  padding: 10px 0;
  background-color: #e1e2e3;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
  color: black;
  font-family:sans-serif;
  padding-top: 25px;
  padding-bottom: 3px;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
   justify-items: center;

}

.category-item {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;

}

.category-img {
  width: 120px;
  height: 130px;
  object-fit: cover;
  border-radius: 9px;
  margin-bottom: 10px; /* Space between image and text */
}

.category-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  color:rgb(134, 133, 133);
  margin: 0;
}
.category-text:hover{
  color: black;
 
}
.text-brand{
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  color: black;
/* end category---------------- */

}
#btn-brand{
  background-color:  rgb(193, 102, 117) ;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size:small;
  font-weight: bold;
}
#btn-brand:hover{
border: 2px solid black;
background-color: white;
color: black;
font-weight: bold;
}


.brand-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.brand-grid {
  display: flex;
  overflow-x: auto;
  scroll-behavior:smooth;
  gap: 20px;
  padding: 10px 0;
  width: 100%;
}

.brand-item {
  flex-shrink: 0;
  width: 270px;
  text-align: center;
  padding-bottom: 10px;
}

.brand-item img {
  width: 100%;
  height: auto;
  max-height: 80px;
  object-fit: contain;

}

.brand-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 background-color: white;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand-btn-left {
  left: -20px;
}
.brand-btn-right {
  right: -20px;
}
.brand-btn:hover {
  background-color: rgb(189, 187, 187);
  color: black;
}
.image:hover{
transform: scale(1.1);
transition:0.5s;

}
.icon{
 position: absolute;
 top: 20px;
 right: 75px;

 }
.paragraph:hover{
  text-decoration: underline;
}
